<section class="agendar">
    <div class="container">
        <div class="dividir">

            <div class="dividir-paragrafo">
                <h1>Agendar</h1>
                <p>Com a OdontoSistem, você agenda sua consulta em poucos cliques, sem complicações. Mais organização para as clínicas e mais comodidade para você. Escolha seu horário e deixe o resto com a gente!</p>
            </div>

            <div class="dividir-formulario">
                <h2>Selecionar sessão</h2>

                <div class="caixa">
                    <div class="text">
                        <h3>Consulta</h3>
                        <p>R$45,00</p>
                    </div>
                    <div class="box-agendar">
                        <button type="button" class="btn btn-dark">Agendar</button>
                    </div>
                </div>

                <div class="caixa">
                    
                    <div class="text">
                        <h3>Limpeza</h3>
                        <p>R$100,00</p>
                    </div>

                    <div class="box-agendar">
                        <button type="button" class="btn btn-dark">Agendar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
