.background-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/bg-clinica.png') no-repeat center center/cover;
}

.container {
    max-width: 1300px;
}

.navbar {
    background-color: transparent;
    padding: 20px 60px;
    width: 100%;
}

.navbar-brand img {
    height: 60px;
}

.nav-link {
    color: white !important;
    margin: 0 15px;
}

.btn-agendar {
    background-color: #a5c9f1;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    margin-left: 30px;
}

.btn-agendar:hover {
    background-color: #8bb7e0;
    color: black;
}

.texto-central {
    color: white;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 20px;
}

.texto-central h1 {
    font-size: 50px;
}

.texto-central p {
    font-size: 20px;
}
