<div class="background-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid justify-content-between align-items-center">

                <a class="navbar-brand" href="#">
                    <img src="logo.png" alt="Logo Odonto Sistem">
                </a>

                <div class="d-flex align-items-center">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link" href="#servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#quem-somos">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contato">Contato</a>
                        </li>
                    </ul>

                    <a href="#agendamento" class="btn btn-agendar">AGENDE AGORA</a>

                </div>
            </div>
        </nav>

        <div class="texto-central">
            <h1>Conheça a OdontoSistem</h1>
            <p>Somos uma solução moderna e eficiente para agendamentos em clínicas odontológicas. Com tecnologia intuitiva, ajudamos profissionais a organizarem sua rotina e oferecerem uma experiência melhor aos pacientes.</p>
            <a href="#saiba-mais" class="btn btn-agendar">Saiba mais</a>
        </div>

    </div>
</div>
