<section class="beneficios">
    <h1>Alguns de nossos serviços</h1>

    <div class="beneficios-grupo">

        <div class="beneficio-item">
            <img src="beneficio-1.jpeg" alt="beneficio 1">
            <h2>Limpeza Dentária</h2>
            <p>Valor médio: R$ 100 a R$ 200</p>
            <p>Remove placas bacterianas e tártaros,<br> prevenindo cáries e gengivite.</p>
        </div>

        <div class="beneficio-item">
            <img src="beneficio-2.jpeg" alt="beneficio 2">
            <h2>Restauração Dentária</h2>
            <p>Valor médio: R$ 150 a R$ 300</p>
            <p>Corrige dentes danificados por cárie <br> com resina estética ou amálgama.</p>
        </div>

        <div class="beneficio-item">
            <img src="beneficio-3.jpeg" alt="beneficio 3">
            <h2>Clareamento Dental</h2>
            <p>Valor médio: R$ 600 a R$ 1.200</p>
            <p>Procedimento estético que clareia os dentes, <br> feito em consultório ou com moldeira.</p>
        </div>

    </div>
</section>
